@import url(https://fonts.googleapis.com/css?family=Archivo:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body{
  font-family: 'Archivo', sans-serif, monospace;
}
.grid.content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.grid.content div {
  border: solid 1px #dfdfdf;
}

@media (min-width: 1024px){
  .grid.content{
    grid-template-columns: repeat(3,1fr);
  }
}
iframe.w-full{
  aspect-ratio: 16 / 9;
}
li.imagenav{ 
}